version: '3'

services:
  nginx-router:
    build: .
    ports:
      - "${NGINX_PORT:-9090}:80"
    environment:
      - FRONTEND_CONTAINER=${FRONTEND_CONTAINER:-frontend}
      - FRONTEND_PORT=${FRONTEND_PORT:-3000}
      - FRONTEND_PAGE_CONTAINER=${FRONTEND_PAGE_CONTAINER:-frontend-page}
      - FRONTEND_PAGE_PORT=${FRONTEND_PAGE_PORT:-3001}
      - BACKEND_API_CONTAINER=${BACKEND_API_CONTAINER:-backend-api}
      - BACKEND_API_PORT=${BACKEND_API_PORT:-8000}
    # Важливий маркер для кешування: змінюйте це число, щоб примусово перебудувати імедж
    labels:
      - "cache.rebuild=7"