# Nginx конфігурація
NGINX_PORT=9090

# Traefik конфігурація
DOMAIN=app.example.com

# Контейнер фронтенд додатку (основний сайт)
FRONTEND_CONTAINER=testproject1-umami-dev-ndyghb
FRONTEND_PORT=3000

# Контейнер фронтенд сторінок додатку
FRONTEND_PAGE_CONTAINER=browsinglog-page-ff4cb3
FRONTEND_PAGE_PORT=3000

# Backend API контейнер
BACKEND_API_CONTAINER=testproject1-browsing-service-ai-yzi23x
BACKEND_API_PORT=3000 